<div class="container-fluid">
	<div class="col-md-4"></div>


	<div class="col-md-4">
	<h1>LOGIN</h1>
		<form novalidate>
			<div class="row">
				<div class="input-group">
					<h3>Email</h3>
					<input type="text" class="form-control" ng-model="loginUser.email" placeholder="Enter Email">
				</div>
			</div>

			<div class="row">
				<div class="input-group">
					<h3>Password</h3>
					<input type="password" class="form-control" ng-model="loginUser.password" placeholder="Enter Password">
				</div>
			</div>

			<div class="row">
				<button class=" btn btn-primary" type="submit" ng-click="submit()">Submit</button>
			</div>
		</form>
	</div>


	<div class="col-md-4"></div>
</div>


